$h-font-family: 'Montserrat';
$p-font-family: 'Merriweather';
$text-font-family: 'Raleway';
$pointer-cursor: pointer;
$main-grey: #505050;
$main-blue-background: #76f4ea;;
$main-black-border: 2px solid #000000;
$main-white: #ffffff;
$main-light-gray: #8a8a8a;
$p-font-size: 18px;
$h-font-size: 45px;
$i-font-size: 23.6px;
$text-font-size: 16px;
$main-black: #000000;
$wrapper-opacity: 0.6;
$img-opacity: 1;
$text-opacity: 0.5;